<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        <style>
            h1{
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color:lemonchiffon;
                font-size: 50px;
                margin-top: 20px;
            }
            #pic{
                max-width: 50%;
                max-height: 50%;
            }
            *{
                background-color: thistle;
                text-align: center;
            }
            input[type="submit"]{
                background-color: snow;
            }
        </style>
		<title>Mongoose Store</title>
	</head>
	<body>
		<nav>
			<a href="/store">Back to Main Store</a>
		</nav>
    <form action="/store/<%=store._id%>?_method=PUT" method="POST">
		Name: <input type="text" name="name" value="<%=store.name%>">
        <input type="image url" name="img" value="<%=store.img%>">
        Description: <input type="text" name="description" value="<%= store.description%>">
		<br />
		Price: <input type="number" name="price" value="<%= store.price %>">
        <br>
        Quantity Remaining: <input type="number" name="qty" value="<%= store.qty%>">
        <br>
        <input type="submit" value="Add product">
    </form>
	</body>
</html>