<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        <style>
            h1{
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color: darkseagreen;
                font-size: 50px;
                margin-top: 20px;
            }
            #pic{
                max-width: 50%;
                max-height: 50%;
            }
            *{
                background-color: thistle;
                text-align: center;
            }
            input[type="submit"]{
                background-color: snow;
            }
        </style>
		<title>Mongoose Store</title>
	</head>
	<body>
		<nav>
			<a href="/store">Back to Main Store</a>
            <a href="/store/edit">Edit Product</a>
		</nav>
		<h1><%=store.name %></h1>
		<img id="pic" src="<%= store.img%>" alt="store.name"><br>
        Description: <%= store.description%>
		<br />
		Price: <%= store.price %>
        <br>
        Quantity Remaining: <%= store.qty%>
        <% let qty =  store.qty %>
        <% if(qty === 0) { %>
            <p>OUT OF STOCK</p>
        <% } else { %>
            <p>IN STOCK</p>
        <% } %>

        <!-- BUY -->
        <form action="/store/<%= store._id; %>?_method=PUT" method="POST">
        <input id="buy" type="submit" name="qty" value="Buy">
        
        <% /* %> 
        <% let qty = store.qty %>
        <% let buy = document.getElementById("buy")%>
        <% %> 
        <% */ %>
        
        </form>
        <!-- DELETE -->
        <form action="/store/?_method=DELETE" method="POST">
        <input type="submit" value="Delete Product">
    </form>
	</body>
</html>