<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        <style>
            h1{
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color:lemonchiffon;
                font-size: 50px;
                margin-top: 20px;
            }
            #pic{
                max-width: 50%;
                max-height: 50%;
            }
            *{
                background-color: thistle;
                text-align: center;
            }
            input[type="submit"]{
                background-color: snow;
            }
        </style>
		<title>Mongoose Store</title>
	</head>
	<body>
		<nav>
			<a href="/store">Back to Main Store</a>
            <a href="/store/<%=store._id%>/edit">Edit Product</a>
		</nav>
		<h1><%=store.name %></h1>
		<img id="pic" src="<%= store.img%>" alt="store.name"><br>
        Description: <%= store.description%>
		<br />
		Price: <%= store.price %>
        <br>
        Quantity Remaining: <%= store.qty%>
        <!-- BUY -->
        <form action="/store/<%=store._id%>?_method=PUT" method="POST">
        <% if(store.qty === 0) { %>
            <p>OUT OF STOCK</p>
            <input type="submit" value="Buy" disabled=true>
            <% } else { %>    
                <input type="hidden" name="qty" value="<%= (parseInt(store.qty)-1).toString() %>" >
                <input id="buy" type="submit" value="Buy">
        <% } %>
    </form>
    <!-- DELETE -->
    <form action="/store/<%=store._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Product">
    </form>
        
    <% /* %> 
    <% let qty = store.qty %>
    <% let buy = document.getElementById("buy")%>
    <% %> 
    <% */ %>
	</body>
</html>